/* menu styling */

.website-header {
    /* padding-top: 10px;
    padding-bottom: 10px; */
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    background: #006494;
    font-size: 30px;
    box-shadow: 5px 5px 5px #cfcfcf;
}
.nav-text {
    text-align: left;
}

.website-name {
    font-family: 'Reenie Beanie', cursive;
    font-size: 75px; 
    padding-right: 50px;
    /* font-weight: bold; */
}

.page {
    padding-left: 40px;
    font-size: 25px;
    font-family: 'Nothing You Could Do', cursive;
    /* font-family: 'Noto Sans JP', sans-serif; */

}
